<h1>Login</h1>

<% if (typeof errorMessage !== 'undefined') { %>
  <div class="alert alert-danger">
    <strong>Error:</strong> <%= errorMessage %>
  </div>
<% } %>

<form action="/login" method="POST">
  <input type="text" name="userName" placeholder="User Name" value="<%= typeof userName !== 'undefined' ? userName : '' %>" required><br><br>
  <input type="password" name="password" placeholder="Password" required><br><br>
  <input type="submit" value="Login">
</form>
